.App {
  text-align: center;
  border: 4px solid green;
  border-style: groove;
  padding: 20px;
  background-color: #f0f0f0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Menu,.Login,.Container, .todo,{
  border: 4px solid blue;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.Menu-a{
  border: 2px solid green;
  padding: 4px;
  margin: 5px;
  text-decoration: none;
}
.Login{
  border-color: gray;
  width: 25%;
}
.Login input{
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid cyan;
  display: block;
}
.Footer{
  border: 2px solid black;
}
.Hobby, .Student, .Addtwo, .Calculator {
  width: 500px;
  padding: 20px;
  margin: 50px auto;
  border: 2px solid #cccccc;
  border-radius: 10px;
  background-color: #f0f0f0;
}
.Hobby{
  background-color: #34282861;
}
.Addtwo{
  background-color: #61dafb;
}
.Calculator{
  background-color: rgb(233, 250, 215);
}
.Student{
  background-color: rgb(245, 220, 220);
}
h1{
  color: magenta;
  text-align: center;
  margin-bottom: 20px;
}
h2{
  color: green;
  text-align: center;
  margin-top: 20px;
}
input[type="text"],[type="number"]{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 8px;
}
button{
  color: magenta;
  background-color: lightblue;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 4px;
}
.App a{
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}
.Genders, .Display {
  border: 2px solid green;
}
.image img{
  width: 50px;
  height: 50px;
}



